.attachmentIcon {
    margin-top: 10px;
    font-size: 3.125rem;
}

.textAdj {
    z-index: 3;
}

._closeBtn {
    position: absolute;
    top: 0.313rem;
    right: 0.625rem;
    color: red;
    z-index: 3;
    font-weight: 600;
    font-size: 1.563rem;
    cursor: pointer;
}
._overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.2);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  ._cards {
    width: calc(25% - 0.5rem) !important;
    margin: 0.25rem;
    background: #fff;
    position: relative;
    height: 4.688rem;
    border: 1px solid #e8eaed;
    border-radius: 3px;
    text-align: center;
    .iconAdj {
      font-size: 5rem;
    }
    overflow: hidden;
  }
  