<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    {{'FRMELEMNTS_LBL_SURVEY' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngFor="let item of surveyList">
    <app-item-card [title]="item?.name"  [subTitle]="item?.generatedExpMsg" (cardSelect)="onSurveyClick(item)">
      <span
        class="dot"
        [style.background-color]="setStatusColor(item?.status)"
        *ngIf="setStatusColor(item?.status) && !isReport"
        color
      ></span>
      <ion-icon
        arrow
        class="mg-popup-btn-icon"
        name="arrow-forward"
      ></ion-icon>
    </app-item-card>
  </div>
</ion-content>
